<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeSuite">
<!--<suite name="SmokeSuite" parallel="methods" thread-count="2">-->

  <test name="SmokeTests">
    <classes>
      <class name="com.amazon.tests.SearchTests" />
    </classes>
  </test>
</suite>